.su-main{
    width: 100%;
    height: 100vh;
    background: rgb(13, 0, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fm-card{
    border: 1px solid rgb(29, 29, 29);
    width: 45%;
    padding: 40px;
    border-radius: 5px;
    background-color: rgb(20, 0, 20);
    color: white;
}
.fm-div{
    /* border: 1px solid yellow; */
    /* padding: 10px;*/
    margin: 10px; 
    display: flex;
    height: 40px;
}
.fm-label{
    width: 30%;
    display: flex;
    align-items: center;
}
.fm-input{
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.fm-error{
    /* border: 1px solid yellow; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 30px;
    text-shadow: 0px 0px 10px white;
    font-weight: bold;
}
.fm-btn{
    border: 1px solid rgb(73, 73, 73);
    width: 100%;
    height:40px;
    font-size: 20px;
    border-radius: 4px;
    letter-spacing: 5px;
    background-color: rgb(41, 0, 41);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.fm-btn:hover{
    background-color: rgb(51, 0, 51);
    color: rgb(255, 255, 255);
}
.su-logo{
    width: 500px;
}


@media screen and (max-width:1024px){
    .fm-card{
        width: 50%;
    }
    .su-logo{
        width: 450px;
    }
}

@media screen and (max-width:900px){
    .fm-card{
        width: 50%;
    }
    .su-logo{
        width: 400px;
    }
}

@media screen and (max-width:800px){
    .fm-card{
        width: 50%;
    }
    .su-logo{
        width: 300px;
    }
}

@media screen and (max-width:700px){
    .fm-card{
        width: 80%;
    }
    .su-logo{
        display: none;
    }
    .fm-card{
        width: 95%;
    }
    .fm-error{
        font-size: 25px;
    }
    
}